body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  
  header, footer {
    background-color: brown;
    color: white;
    text-align: center;
  }
  
  section {
    display: flex;
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
  }
  
  .game-display {
    flex-grow: 1; /* La sección del juego ocupará el espacio disponible */
    text-align: center;
  }
  
  aside {
    background-color: #ddd;
    border-radius: 5px;
    width: 20%;
    padding: 10px;
  }
  
  /* Mueve los asides a la derecha con flexbox */
  section {
    display: flex;
    justify-content: flex-end; /* Esto mueve los asides al final (derecha) */
    gap: 20px; /* Espacio entre los elementos aside */
  }
  
  aside h2 {
    margin-top: 0;
  }
  
  aside ul, aside ol {
    list-style-type: none;
    padding: 0;
  }
  
  .game-display img {
    max-width: 100%;
    height: auto;
  }
  