body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  
  header, footer {
    background-color: brown;
    color: white;
    text-align: center;
  }
  
  section {
    display: flex;
    justify-content: flex-start; /
  }
  
  .game-display {
    flex-grow: 1; 
    text-align: center;
  }
  
  aside {
    background-color: #ddd;
    border-radius: 5px;
    width: 20%;
    padding: 10px;
  }
  
  section {
    display: flex;
    justify-content: flex-end; 
    gap: 20px; 
  }
  
  aside h2 {
    margin-top: 0;
  }
  
  aside ul, aside ol {
    list-style-type: none;
    padding: 0;
  }
  
  .game-display img {
    max-width: 100%;
    height: auto;
  }
  