body {
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18 px;
    text-align: justify;
}

strong {
    color: black;
    font-family:'Times New Roman', Times, serif;
    font size: 25 px;
}
ol{
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

dt{
    color: chocolate;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px ;
}

dd{
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 9px;

}

